.btn-primary {
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-color: var(--btn-text-color);
    --bs-btn-hover-color: var(--btn-text-color);
    --bs-btn-hover-bg: var(--bg-primary);
    --bs-btn-hover-color: var(--text-secondary);
    --bs-btn-hover-border-color: color-mix(in srgb, var(--bs-success), black 25%);
    --bs-btn-active-bg: var(--bs-warning);
    --bs-btn-active-color: var(--text-info);
    --bs-btn-active-border-color: var(--text-info);
    border-radius: 10px;
    border-width: 1px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 1.2rem;
}

.btn-success {
    --bs-btn-bg: var(--bs-border-color-error);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-color: var(--btn-text-color);
    --bs-btn-hover-bg: var(--bg-primary);
    --bs-btn-hover-color: var(--text-error);
    --bs-btn-hover-border-color: color-mix(in srgb, var(--bs-success), black);
    --bs-btn-active-bg: var(--bg-warning);
    --bs-btn-active-color: var(--text-info);
    --bs-btn-active-border-color: var(--text-info);
    border-radius: 10px;
    border-width: 1px;
    font-weight: 400;
    font-size: 1.2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(1);
    background-color: var(--text-error);
    border-radius: 50%;
    padding: 10px;
}

.navbar-nav {
    --bs-nav-link-padding-x: 10px;
    --bs-nav-link-padding-y: 10px;
    --bs-nav-link-margin-x: 0px;
    --bs-nav-link-margin-y: 0px;
    --bs-nav-link-font-size: 1.5rem;
    --bs-nav-link-font-weight: 300;
    --bs-nav-link-color: var(--bs-navbar-color-rgb);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color-rgb);
    --bs-nav-link-active-color: var(--bs-navbar-active-color-rgb);
    font-family: "Lalezar", sans-serif;
    line-height: 1.2;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color-rgb);
    line-height: 1.2;
}

.nav-item {
    margin-left: 3rem;
}

.bg-custom {
    background-color: #9ea9b8 !important;
}

